.order{
    color: red;
}

.flex-item {
    padding: 5px;
    width: 100px;
    height: 150px;
    margin: 5px;

    line-height: 50px;
    color: white;
    font-size: 2em;
    text-align: center;
  }

  .cartBtn{
    color: white;
    background-color: #FF7E20;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 40px;
    padding: 10px;
    font-weight: bold;
  }

  .status{
    font-weight: lighter !important;
    font-size: small;
    margin-right: 45px;
  }