@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
/* box shadow and likes */
.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}

.boxShadow{
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;

}

@media (max-width: 768px) {
  .dashboard {
  gap: 135px !important;
  }
  .dashboard-content{
  padding-top: 4rem !important;
  /* width: 15rem !important;
  height: 15rem !important; */
  }
  }
  @media (max-width: 480px) {
    .dashboard {
    gap: 15px !important;
      flex-wrap: nowrap !important;
    }
    .dashboard-content{
      padding-top: 1rem !important;
      height: 12rem !important;
      }
      .hero {
        width: 100% !important;
      }
  }



/* ends here */
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
    background-color: white !important;

  }
  .main-logo{
display: none;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}


/* ROles style */
@media (min-width: 768px) {
  .imgSize{
    height: 150px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;

  }
  .imgHolder{
    width: 100%;
    height: 50%;
  }
  }

  @media (max-width: 768px) {
    .imgSize{
    /* width: 80px !important; */
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    }
    .imgHolder{
      width: 110%;
      height: 50%;
    }
    }

    /* Style for chat components */
.home{
  /* background-color: antiquewhite; */
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Containter {
/* border: 1px solid white; */
border-radius: 10px;
width: 90%;
height: 92%;
display: flex;
overflow: hidden;
}

.sideBar{
  flex:1;
background-color: #fff;
border-right: 1px solid #D9D9D9;
}

.chat{
  flex:2;
}
.chatNavbar{
display: flex;
align-items: center;
background-color: #FF7E20;
height: 50px;
padding: 10px;
justify-content: space-between;
color: #fff;
}
.chatlogo{
display: flex;
gap: 10px;
font-weight: bold;
}
/* user img */
.logoimg{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.chatbtn{
  background-color: black;
  color: #fff;
  font-size: 10;
  border: none;
  cursor: pointer;
}
.Chatsearch{
  border-bottom: 1px solid gray;
}
.SearchForm {
padding: 10px;
}
.searchInput{
background-color: transparent;
border: none;
color: #fff;
}
.searchInput::placeholder{
  color: lightgray;
}

.userimg{
 width: 50px !important;
 height: 50px !important;
 border-radius: 50%;
 object-fit: cover;
}
.userChat{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
}
.userChat:hover{
background-color: #FF7E20;
/* color: #fff; */
}
.userChatInfo span{
font-size: 18px;
font-weight: 500;
color: #000;
}
.userChatInfo p{
  font-size: 14px;
  color: black ;

  }


  .chatInfo{
height: 50px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
border-bottom: 1px solid #D9D9D9;

  }
  .messages{
background-color: #fff;
padding: 10px;
height: calc(100% - 100px);
overflow: scroll;
  }
  .ChatInput{
    height: 50px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ChatInput input{
    width: 100%;
    padding-top: 10px;
    border: none;
    outline: none;
    font-size: 18px;

  }

  .ChatInput .searchInput::placeholder{
  color: lightgray;

  }
  .send{
    display: flex;
    gap: 10px;
  }
  .chatSend{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #FF7E20;
  }

  .boxMessage{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

  }
  .messageInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  .messageInfo{
    display: flex;
    flex-direction: column;
    color: gray;
    font-weight: 300;
  }
  .messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .messageContent p {
    background-color: #FF8A342B;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
  }

  .messageContent  {
    align-items: flex-end;
  }

  .boxMessage, owner{
    flex-direction: row-reverse;
  }
  .boxMessage p{
    background-color: #0000001A;
    color: white;
    border-radius: 10px 0px 10px 10px;
    max-width: max-content;

  }

